@import url('https://fonts.googleapis.com/css2?family=Anton&family=Syne+Tactile&display=swap');

.Jumbo {
  h1 {
    margin-top: 100px;
    color: white;
    text-shadow: 2px 2px 7px aliceblue;
    font-family: 'Anton', sans-serif;
  }
  background-image: url('https://images.creativemarket.com/0.1.0/ps/3379856/1360/906/m1/fpnw/wm1/pfhgxchmb2ttmklouoabchtigsyma36lawo3w97ycjnyahr5vku9hequuk1beweg-.jpg?1507495665&s=7b15527692314d3fc3a11d94a8c69a80');
  background-size: 900px;
  background-repeat: no-repeat;
  margin-top: 25px;
  margin: auto;
  height: 400px;

  .btn {
    margin-top: 100px;
  }
}
